 body {
 	font-family: 'Lato', sans-serif;
 	text-align: center;
 	vertical-align: middle;
  margin: 0;
  height: 100%;
  overflow: hidden;  
 }
#shape {
  border:1px solid #000000;
  text-align: center;
}
